<!-- Ñapa para no usar disqus-->
<script src="https://giscus.app/client.js"
        data-repo="marcosruiz/marcosruiz.github.io"
        data-repo-id="R_kgDOGm1dzA"
        data-category="General"
        data-category-id="DIC_kwDOGm1dzM4CAjhb"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="preferred_color_scheme"
        data-lang="es"
        crossorigin="anonymous"
        async>
</script>

<script>
const changeGiscusTheme = function() {
  let modeToggle = new ModeToggle();
  const theme = modeToggle.mode === 'dark' ?  'dark' : 'light'
  function sendMessage(message) {
    const iframe = document.querySelector('iframe.giscus-frame');
    if (!iframe) return;
    iframe.contentWindow.postMessage({ giscus: message }, 'https://giscus.app');
  }
  sendMessage({
    setConfig: {
      theme: theme
    }
  });
}

const modeToggle = document.getElementsByClassName("mode-toggle")[0];

if (typeof modeToggle !== "undefined") {
  modeToggle.addEventListener('click', changeGiscusTheme);
}

</script>