---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */

.post-content {
	counter-reset: heading figure activity question step;
}

.activity:before {
	content: "Actividad " counter(activity) ": ";
	counter-increment: activity;
}

.section:before {
	content: counter(heading)". ";
	counter-increment: heading;
}
.section {
	counter-reset: subheading;
}
.subsection:before {
	content: counter(heading)"." counter(subheading)". ";
	counter-increment: subheading;
}
.subsection {
	counter-reset: subsubheading;
}
.subsubsection:before {
	content: counter(heading)"." counter(subheading)"." counter(subsubheading)". ";
	counter-increment: subsubheading;
}

.giscus, .giscus-frame {
	width: 100%;
}
.giscus-frame {
	border: none;
}

.post-content > p > em:before {
	content: "Figura " counter(figure) ": ";
	counter-increment: figure;
}

/*body {
	font-family: 'Georgia', 'Source Sans Pro', 'Microsoft Yahei', sans-serif;
}*/

.question{
	/*padding: 1em;
	box-shadow: rgba(148, 148, 148, 0.3) 0px 0px 0px 3px;*/
	font-weight: bold;
}

.question:before {
	content: "Pregunta " counter(question) ": ";
	counter-increment: question;
	font-weight: bold;
}

.step:after {
	content: " "counter(step);
	counter-increment: step;
}

.card {
	background-color: var(--highlight-bg-color); 
}

iframe[title="YouTube video player"]{
	width:100%;
	aspect-ratio: 16/9;
}

iframe[title="slides"]{
	width:100%;
	aspect-ratio: 16/10;
}

img {
	background-clip: content-box;
	background-color: white;
}

img.mfp-img {
	padding: 10px 0 40px;
}
